<%layout('layout') -%>
<hr>
<div class="container">
    <div class="page-header">
        <h1>Create Job Offer</h1>
    </div>
    <form class="form-horizontal" role="form">

        <div class="form-group">
            <label for="job-title" class="col-sm-3 control-label">I want to hire someone for:</label>
            <div class="col-sm-9">
                <input type="text" id="job-title" placeholder="Job Title" class="form-control" autofocus>
                <span class="help-block">Job Title</span>
            </div>
        </div>
        <div class="form-group">
            <label for="field-of-work" class="col-sm-3 control-label">Field of work:</label>
            <div class="col-sm-3">
                <select id="type-of-people" class="form-control">
                    <option>Computer Science</option>
                    <option>Business</option>
                    <option>Electrical Engineering</option> 
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="type-of-job" class="col-sm-3 control-label">Type of job:</label>
            <div class="col-sm-3">
                <select id="type-of-job" class="form-control">
                    <option>Bachelor Thesis</option>
                    <option>Masters Thesis</option>
                    <option>Research</option> 
                    <option>Summer job</option> 
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="duration" class="col-sm-3 control-label">Duration:</label>
            <div class="col-sm-9">
                <input type="text" id="duration" placeholder="" class="form-control" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="contact-e-mail" class="col-sm-3 control-label">Contact e-mail:</label>
            <div class="col-sm-9">
                <input type="text" id="contact-e-mail" placeholder="bill.smith@gmail.com" class="form-control" autofocus>
            </div>
        </div>
	<div class="form-group">
            <label for="desired-skills" class="col-sm-3 control-label">Desired skills:</label>
            <div class="col-sm-9">
                <input type="text" id="contact-e-mail" class="form-control" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-3 control-label">Description:</label>
            <div class="col-sm-9">
                <input type="text" id="description" placeholder="" class="form-control" autofocus>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
        </div>
    </form> <!-- /form -->
</div>
